<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create new post</title>
  </head>
  <body>
    <form method="post" action="/posts">
      <input type="text" placeholder="enter username" name="username" id="" /><br/><br>
      <textarea
        name="content"
        placeholder="Enter your posts"
        id=""
        cols="30"
        rows="10"
      ></textarea><br/><br/>
      <button>Submitt Button</button>
    </form> 
  </body>
</html>
